* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.sectionOne {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#selectCity {
  width: 80%;
  margin-top: 20px;
  height: 30px;
}
